

<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#page-top">WINIT APP</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
      <div class="container" id="maincontent" tabindex="-1">
          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-text">
                      <h1 class="name">WINIT APP</h1>
                      <hr class="star-light">
                      <span class="skills">Contact me if you dare</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Contact Section -->
  <section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Contact Me</h2>
                  <hr class="star-primary">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                  <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                  <form name="sentMessage" action="/contact" method="post" id="contactForm">
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label for="contact">Contact</label>
                              <input name="contact" type="text" class="form-control" placeholder="Email or Cell" id="email" required>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label for="message">Message</label>
                              <textarea name="message" rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <br>
                      <div id="success"></div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <button id="submit" type="submit" class="btn btn-success btn-lg">Send</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                      <h3>Location</h3>
                      <p>New York, NY, 10025</p>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Find me around the web</h3>
                      <ul class="list-inline">
                          <li>
                              <a id="linkedIn" target="_blank" href="https://linkedin.com/in/justinhessdev" class="btn-social btn-outline"><span class="sr-only">LinkedIn</span><i class="fa fa-fw fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a id="github" target="_blank" href="https://github.com/justinhessdev/conTEXT" class="btn-social btn-outline"><span class="sr-only">Github</span><i class="fa fa-fw fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>About Me</h3>
                      <p>Psst! It's a secret</p>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
      <a class="btn btn-primary" href="#page-top">
          <i class="fa fa-chevron-up"></i>
      </a>
  </div>
