<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <h3>Congrats! You viewed the message</span></h3>
    </div>
</div>
<br>
<br>
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <h3>Contact Info: <span class="label label-default"><%- message.contact %></span></h3>
    </div>
</div>
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <h3>Message: <span class="label label-default"><%- message.message %></span></h3>
    </div>
</div>
<br>
<br>
<div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <h3>Time to Celebrate!</span></h3>
    </div>
</div>
