<h1 style="color:white; font-family:serif">Please Check Out These Awesome Places</h1>
<div class="container">
  <ul>
        <li>Contact Info: <%- message.contact %></li>
        <li>Message: <%- message.message %></li>
  </ul>
</div>
