<div class="container">
  <h5>To view content click the link below</h5>
  <div>URL:
    <a target="_blank" href="<%= short_url %>"><%- short_url %></a>
  </div>
</div>

<!-- <script type="text/javascript">
  $('#<%= token.token %>').on('click', function(evt) {
    console.log('clickeddddd');
    $.ajax({
     url: '/token/<%= token.token %>',
     method: 'GET'
   }).done(function(message) {
      console.log(message);
    })
  })
</script> -->
